/* src/styles.css */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

* {
  box-sizing: border-box;
}

:root {
  --theme-primary: #258cf4;
  --theme-success: #28af60;
  --theme-warning: #ee7c2b;
  --theme-error: #e64d4d;
  --theme-info: #2bbdee;
}
